<h1><%= @kitten.name %></h1>

<div>
  <p>Age: <span><%= @kitten.age %></span></p>
  <p>Cuteness: <span><%= @kitten.cuteness %></span></p>
  <p>Softness: <span><%= @kitten.softness %></span></p>
</div>

<%= link_to 'Edit', edit_kitten_path(@kitten) %>
<%= link_to 'Delete', @kitten, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'delete-link' %>
<%= link_to 'Back', kittens_path %>

